* {
    border: 0;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.maincontainer{
    background-color: #0c2628;
    color:#829997;
    height: 100%;
    width: 100%;
   
}

.navbar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: fit-content;
}

.navlinks-container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 1em 1em;
    height: 25%; 
    width: 100%;
}

 .navlinks-container a{   
    
    text-decoration: none;    
    color: #ddc966;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
    padding: 0.5em 1em;  

} 
.navlinks-container a:hover{
    background-color: rgba(33, 60, 53, 0.5);  
    border-radius: 5px;
}


.mainsection-container{  
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(130,160, 200, 0.1); 
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 1em 1em;
}

.title-container {
    margin-top:30px;
    margin-bottom: 40px;    
}

h1{
    text-align: center;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 10px;
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 750px;
    flex-wrap: wrap;
    flex: 1;
}


form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex: 3;
    font-family: 'Noto Sans JP', sans-serif;
    color: gray;
    
}

input, select, textarea{
    border-radius: 6px;
    border: 1px solid  rgba(206, 206, 206, 0.95);
    background-color: rgba(255,255,255,0.95);
    /* padding: 0.25em 10em; */
    align-items: center;
    justify-content: center;
    color:#283130;
    /* margin: 5px 1px; */
    
    flex: 4;
}
.radio-selection{
    display: grid;
    grid-template-rows: 1px;
    grid-gap: 1.5em;
    margin-left: 2em; 
}

button{
    padding: 10px 20px;
    margin: 8px 0;
    max-width: 200px;
    border: none;
    border-radius: 6px;
    background-color: #ddc966;    
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

footer{
    background-color: #0c2628;
    color:#829997;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}

