* {
    border: 0;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.maincontainer{
background-color: #0c2628;
color:#829997;
width: 100%;
height: 100%;

}

.navbar-container{
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    grid-gap: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

.navlinks-container{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 20px;    
   
}

.navlinks-container a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    color: #ddc966;
    font-size: 17pt;
    padding: 0.5em 1em; 
}
.navlinks-container a:hover{
    background-color: rgba(33, 60, 53, 0.5);  
    border-radius: 5px;
}

.mainsection-container{
    display: block;
	width: calc(40em - 20px);
	margin: 0 auto;
	height: 20em;
	position: absolute;
	top: calc(20rem - 10%);
	left: calc(50% - (calc(40em - 20px))/2);
}