* {
    border: 0;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.maincontainer{
    background-color: #0c2628;
    color:#829997;    
    
   
}

.navbar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: fit-content;
}

.navlinks-container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 1em 1em;
    height: 25%; 
    width: 100%;
}

 .navlinks-container a{   
    
    text-decoration: none;    
    color: #ddc966;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
    padding: 0.5em 1em;  

} 
.navlinks-container a:hover{
    background-color: rgba(33, 60, 53, 0.5);  
    border-radius: 5px;
}


.mainsection-container{  
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-rows: minmax(75px, auto);
    background-color: rgba(130,160, 200, 0.1); 
    margin-top: 10px;  
    margin-left: 60px;
    margin-right: 60px;
    height: 100%;
    
}

.title-container {
    margin-top:30px;
    margin-bottom: 40px;    
}

h1{
    text-align: center;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    line-height: 30px;
    margin-bottom: 10px;
}

img{
    max-width: 100%;
}

p{
    font-size: 23px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
    color: #fff;
    padding: 0.5em;
    margin: 1em 1em;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat (20, 5vw);
    grid-gap: 15px; 
    
}


.textpart1{
    display: grid;
    grid-column: 6/8;
    grid-row: 3;
    background-color: rgba(256,256, 256, 0.1);
    border-radius: 5px;
   
}

.ai{
    display: grid;
    text-align: center;
    align-items: center;
    background-color: rgba(256,256, 256, 0.1);
    border-radius: 5px;
    max-width: 100%;

}

.img1 {
  
    grid-column: 2/ span 5;
    grid-row: 2/ span 4;
    margin-left: 10px;
 }
 .textpart2{
    display: grid;
    grid-column: 3/5;
    grid-row: 7;
    background-color: rgba(256,256, 256, 0.1);
    border-radius: 5px;
}
.ai2{
    display: grid;
    text-align: center;
    align-items: center;
    background-color: rgba(256,256, 256, 0.1);
    border-radius: 5px;
    max-width: 100%;
}
 
  .img2 {
    grid-column: 5 / span 4; 
    grid-row: 6 / span 4;
    margin-right: 10px;
 }

 .textpart3{
    display: grid;
    grid-column: 6/8;
    grid-row: 11;
    background-color: rgba(256,256, 256, 0.1);
    border-radius: 5px; 
    
}
.CGI{
    display: grid;
    text-align: center;
    align-items: center;
    background-color: rgba(256,256, 256, 0.1);
    border-radius: 5px;
    max-width: 100%;
}
 
 .img3 {
    grid-column: 2 / span 4;
    grid-row: 10 / span 3;
  
 }
 
 .textpart4{
    display: grid;
    grid-column: 2/5;
    grid-row: 16;
    background-color: rgba(256,256, 256, 0.1);
    border-radius: 5px; 
    
}
.VG{
    display: grid;
    text-align: center;
    align-items: center;
    background-color: rgba(256,256, 256, 0.1);
    border-radius: 5px;
    max-width: 100%;
    
}

 .img4 {
    grid-column: 5 / span 4;
    grid-row: 15 / span 3;
   
 } 


footer{
    background-color: #0c2628;
    color:#829997;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    
}